*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 100%;
	color: rgba(25,25,25,1);
	margin:0px;
}

html, body{
	height:100%;
	background-color:rgba(225,225,150,.5);
	font-family:"Gill Sans MT","Helvetica",sans-serif;	
}

/*
** Columns
*/
section{
	height:100%;
	width:25%;
	float:left;
}

#posts{
	width:50%;	
}


/*
** Left Column
*/
#filters{
	border:solid 1px rgba(25,25,25,1);	
}

/*
** Center Column
*/
#backchannel{
	height:75%;
	border:solid 1px rgba(25,25,25,1);
	padding:5%;
}

#backchannel>div{
	border:solid 1px rgba(25,25,25,1);

}

#newPost{
	height:25%;
	border:solid 1px rgba(25,25,25,1);
}


#newPost>form{
	height:100%;
	padding:5%;
}

#tags{
	float:left;
	width:25%;
	height:50%;
	position:relative;
	top:25%;
}

#resourceTag,#questionTag{
	height:50%;
}

.postArea{
	height:100%;
	width:50%;
	float:left;
}

.submitPost{
	float:left;
	width:25%;
	position:relative;
	top:25%;
	height:50%
}

/*
** Right Column
*/
#usersChat{
	border:solid 1px rgba(25,25,25,1);
}

#chat{
	border:solid 1px rgba(25,25,25,1);
}

#users{
	border:solid 1px rgba(25,25,25,1);
	overflow: scroll;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 30%;
}

#users>ul{
	list-style-type: none;
	padding:0px;
	
}

#users li{
	padding-left:10%;
}

li:hover{
	background-color:rgba(255,255,255,.5);
	cursor:pointer;
}

#onlineTA{
	font-weight: bold;
}

#onlineTA>li:hover{
	background-color:rgba(0,0,255,.5);
}